---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
    <language>en-us</language>
    <managingEditor>{{ site.email }} ({{ site.title }})</managingEditor>
    <webMaster>{{ site.email }} ({{ site.title }})</webMaster>
    <lastBuildDate>{{ site.buildTime | dateToRfc822 }}</lastBuildDate>
    <pubDate>{{ site.buildTime | dateToRfc822 }}</pubDate>
    <ttl>60</ttl>
    
    {% for post in collections.posts | reverse | limit(10) %}
      <item>
        <title>{{ post.data.title | escape }}</title>
        <description>{% if post.data.excerpt %}{{ post.data.excerpt | escape }}{% else %}{{ post.templateContent | excerpt | escape }}{% endif %}</description>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <link>{{ site.url }}{{ post.url }}</link>
        <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
        {% if post.data.tags %}
        {% for tag in post.data.tags %}
          {% if tag != "post" %}
          <category>{{ tag }}</category>
          {% endif %}
        {% endfor %}
        {% endif %}
      </item>
    {% endfor %}
  </channel>
</rss>